

{{#each groups as |group|}}
<div class="card col-md-4 col-12" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{group.Name}} <span class="badge badge-info" style="font-family:'Josefin sANS', sans-serif;">{{group.Type}}</h5>
    <p class="card-text">{{group.Intro}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Members: "{{group.users.length}}"</li>
    <li class="list-group-item"></li>
  </ul>
</div>
{{/each}}
