{{#each userData.groups as |group|}}
<div class="row col-md-6 col-12">
  <div class="col-md-1 col-12"></div>
  <div class="card col-md-10 col-12" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{group.Name}} <span class="badge badge-info" style="font-family:'Josefin sANS', sans-serif;">{{group.Type}}</h5>
      <p class="card-text">{{group.Intro}}</p>
    </div>
    <button type="button" class="btn btn-outline-secondary viewMembership" data-id="{{group.id}}">View</button>
  </div>
  <div class="col-md-1 col-12"></div>
</div>
{{/each}}
