@import '~bootstrap/scss/bootstrap';

body {
  background: #efefef;
  font-family: 'Major Mono Display', cursive;
  height: 100vh;
}

h1 {
  font-size: 7vw;
  font-weight: 800;
}

.system-message {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2em;
}

.card-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
}

.hide {
  display: none;
}

.card {
  margin-top: 15px;
}

.communication-bar {
  text-align: center;
}

button {
  margin-left: 25%;
  width: 50%;
}

.title {
  padding-top: 1.5vw;
}

.card-header {
  font-size: 36px;
  font-weight: 800;
}
// Form styling

form {
  background-color: blue;
  border-radius: 15px;
  color: #ffffff;
  margin-top: 15px;
  padding: 35px;
  text-align: center;

  input {
    background: #efefef;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    text-align: center;
  }

  button {
    margin-left: 20%;
    margin-top: 15px;
    width: 60%;
  }
}

.header {
  background-color: #fefefe;
  bottom: 100;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
}

.footer {
  background-color: #fefefe;
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
}
