@import '~bootstrap/scss/bootstrap';

body {
  background: #efefef;
  font-family: 'Major Mono Display', cursive;
  height: 100vh;
}

// Handlebars styling
.content {
  @include make-row;

  h5 {
    font-family: 'Press Start 2P', cursive;
  }
  p {
    font-family: 'Josefin Sans', sans-serif;
  }

  &:empty {
    &::before {
      color: lighten($info, 25%);
      content: 'Click Get Books';
      font-size: 10vh;
      line-height: .85;
      text-align: center;
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

// Backbutton styling
.backbutton {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Press Start 2P', cursive;
}

.system-message {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2em;
}

// Card styling

.card {
  margin-top: 15px;
  p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
  }
  .card-header {
    font-size: 36px;
    font-weight: 800;
  }
}

.hide {
  display: none;
}


.communication-bar {
  text-align: center;
}

.title {
  background: black;
  color: white;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  margin-top: 15px;
  border-radius: 5px;
  h1 {
    font-size: 6vw;
  }
}

// Form styling

form {
  background-color: blue;
  border-radius: 15px;
  color: #ffffff;
  margin-top: 15px;
  padding: 35px;
  text-align: center;

  input {
    background: #efefef;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    text-align: center;
  }

  button {
    margin-left: 20%;
    margin-top: 15px;
    width: 60%;
  }
}

.header {
  background-color: #fefefe;
  bottom: 100;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
}

.footer {
  background-color: #fefefe;
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
}
